label.required,
span.required {
  &:after {
    color: $primary-red;
  }
}

.skip-link {
  .count {
    background-color: $primary-red;
  }
}
	
.google-maps {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	overflow: hidden;
	margin-bottom: 2em;
	
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.contacts-index-index {
	@media screen and (min-width:600px) {
		.form-list {
			textarea {
				width: 550px;
			}
		}
	}
}

.data-table {
  border: 1px solid #f5f5f5;
  border-width: 1px 1px 0 0;
  
  td, th {
    border: 1px solid #f5f5f5;
    border-width: 0 0 1px 1px;
  }
  
  tr {
    &.even, &.odd {
      background: transparent;
    }
  }
  
  tr {
    &:nth-child(even) {
      td, th {
        background: #f9f9f9;
      }
    }
  }
}

.itemslider-thumbnails {
  max-width: 85%;
  
  &.count-4,
  &.count-5,
  &.count-multi {
    @media only screen and (min-width:1440px) {
      max-width: 85%;
    }
    
    @media only screen and (max-width:959px) and (min-width:768px) {
      max-width: 80% !important;
    }
  }
  
}

.cart {
  .crosssell {
    li {
      &.item {
        &.odd,
        &.even {
          float: left;
          clear: none;
        }
      }
      
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
}

.the-slideshow .owl-item .slide {
  text-align: center;
}